{% extends "base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Quantum Circuits</h1>
    <p>Welcome! You can create, upload, search, and download quantum circuits.</p>

{% endblock %}
